apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: dev 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:	
      containers:
        - name: order-service
          image: psrikanthg/orderservice:v11
          imagePullPolicy: Always
          ports:
            - containerPort: 8082